# Ignore files and directories
.git
node_modules
*.log

# Ignore specific file types
*.docx

# Ignore directories starting with a dot
.*

# Ignore the data directory to prevent it from being copied into the image
app/data/

__pycache__/
*.pyc
